#
# An example of the file used to define the app settings.
# Copy this file as `.env` or simply set the variables
# on the environment.
#

################################
# Service setup
################################
PORT=3000

DATABASE_URL=mysql://root:root@db:3306/fastforward

################################
# Authentication
################################

# Google OAuth Client ID
GOOGLE_CLIENT_ID=

# Only authenticate users from these domain (comma separated)
#
#AUTH_DOMAINS=example.com
AUTH_DOMAINS=

################################
# General settings
################################

# Can user's change link URLs after they've been created.
# Possible values: enabled, disabled
# Default: disabled
LINK_EDITING=enabled
