#
# An example of the file used to define the app settings.
# Copy this file as `.env` or simply set the variables
# on the environment.
#

################################
# Service URLs
################################
SITE_URL=http://localhost:3000
GRAPHQL_URL=http://0.0.0.0:4000/graphql

DATABASE_URL=mysql://root:root@db:3306/gothere
# DATABASE_URL=mysql://root:root@localhost:3307/gothere


################################
# Authentication
################################

# Google OAuth Client ID
GOOGLE_CLIENT_ID=

# Only authenticate users from these domain (comma separated)
#
#AUTH_DOMAINS=example.com
AUTH_DOMAINS=
